---
interface Props {
  avatar: string;
  name: string;
  description: string;
  techs?: string[];
  linkedin?: string;
  github?: string;
  twitter?: string;
  portfolio?: string;
}

const {
  avatar,
  name,
  description,
  techs,
  linkedin,
  github,
  twitter,
  portfolio,
} = Astro.props;
---

<div class="p-4 bg-white shadow-lg rounded-2xl">
  <div class="flex flex-row items-start gap-4">
    <img src={avatar} class="rounded-lg w-28 h-28 aspect-square object-cover" />
    <div class="flex flex-col justify-between w-full h-28">
      <div>
        <p class="text-xl font-medium text-gray-800">
          {name}
        </p>
        <p class="text-xs text-gray-400">{description}</p>
      </div>
      {
        techs && (
          <div class="w-full p-2 overflow-auto bg-blue-100 rounded-lg">
            <div class="flex items-center flex-wrap gap-1 text-gray-400">
              {techs?.map((tech) => (
                <span class="whitespace-nowrap rounded-full bg-indigo-500 px-2.5 py-0.5 text-xs text-white">
                  {tech}
                </span>
              ))}
            </div>
          </div>
        )
      }
    </div>
  </div>
  <div class="flex items-center justify-center gap-2 mt-6">
    {
      linkedin && (
        <a
          href={linkedin}
          target="_blank"
          rel="noreferrer"
          class="px-4 flex gap-2 items-center py-2 text-base text-white bg-[#0e76a8] border rounded-lg text-grey-500 hover:bg-blue-500"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4 fill-current aspect-square"
            viewBox="0 0 24 24"
          >
            <path d="M19 0H5a5 5 0 0 0-5 5v14a5 5 0 0 0 5 5h14a5 5 0 0 0 5-5V5a5 5 0 0 0-5-5zM8 19H5V8h3v11zM6.5 6.732c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zM20 19h-3v-5.604c0-3.368-4-3.113-4 0V19h-3V8h3v1.765c1.396-2.586 7-2.777 7 2.476V19z" />
          </svg>
        </a>
      )
    }
    {
      github && (
        <a
          href={github}
          target="_blank"
          rel="noreferrer"
          class="px-4 flex gap-2 items-center py-2 text-base text-white bg-black border rounded-lg hover:bg-indigo-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4 fill-current aspect-square"
            viewBox="0 0 24 24"
          >
            <path d="M12 0C5.374 0 0 5.373 0 12c0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23A11.509 11.509 0 0 1 12 5.803c1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576C20.566 21.797 24 17.3 24 12c0-6.627-5.373-12-12-12z" />
          </svg>
        </a>
      )
    }
    {
      twitter && (
        <a
          href={twitter}
          target="_blank"
          rel="noreferrer"
          class="px-4 flex gap-2 items-center py-2 text-base text-white bg-blue-500 border rounded-lg hover:bg-blue-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4 fill-current aspect-square"
            viewBox="0 0 24 24"
          >
            <path d="M23.999 4.571c-.888.392-1.834.656-2.821.777 1.016-.609 1.799-1.574 2.164-2.721-.951.564-2.008.974-3.136 1.195C18.5 2.5 17.25 2 16 2c-2.761 0-5 2.239-5 5 0 .394.045.777.134 1.146-4.135-.208-7.801-2.2-10.334-5.229-.428.729-.677 1.574-.677 2.479 0 1.719.859 3.229 2.164 4.135-.801-.025-1.555-.246-2.209-.609v.062c0 2.396 1.703 4.396 3.959 4.854-.414.112-.859.171-1.318.171-.316 0-.621-.031-.918-.088.621 1.956 2.432 3.396 4.589 3.434-1.703 1.326-3.801 2.109-6.109 2.109-.394 0-.777-.025-1.161-.088 2.164 1.396 4.703 2.229 7.432 2.229 8.984 0 13.953-7.464 13.953-13.953 0-.214-.004-.428-.013-.641.964-.703 1.799-1.574 2.432-2.574z" />
          </svg>
        </a>
      )
    }

    {
      portfolio && (
        <a
          href={portfolio}
          target="_blank"
          rel="noreferrer"
          class="px-4 flex gap-2 items-center py-2 text-base text-white bg-slate-600 border rounded-lg hover:bg-indigo-700"
        >
          <svg
            class="w-4 h-4 fill-current aspect-square"
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
            viewBox="0 0 24 24"
          >
            <path d="m16.533 14.322-.061.678h4.304A9.028 9.028 0 0 0 21 13l-.004-.243.987-1.56.649-1.024c.24.902.368 1.85.368 2.827 0 6.071-4.929 11-11 11-2.642 0-5.067-.933-6.964-2.487A4.52 4.52 0 0 0 6.6 20.199a8.982 8.982 0 0 0 3.013 1.481l-.084-.16a19.07 19.07 0 0 1-1.336-3.265l-.061-.208 1.847-.819c.081.299.171.596.27.891A17.281 17.281 0 0 0 12 21.815c.246-.399.48-.804.696-1.219A17.02 17.02 0 0 0 14.081 17h-3.587l6.039-2.678zM20.063 17h-3.926a18.072 18.072 0 0 1-.489 1.753 19.223 19.223 0 0 1-1.262 2.927A9.033 9.033 0 0 0 20.063 17zm-.814-7.711c-1.521-2.411-2.583-4.232-2.583-5.805C16.666 1.56 18.409 0 20.333 0 22.258 0 24 1.56 24 3.484S22.41 7.705 20.333 11l-.002-.003-14.332 6.355.001.074a3.001 3.001 0 1 1-3-3c.914 0 1.733.41 2.283 1.055l13.966-6.192zM3.223 11A9.01 9.01 0 0 0 3 12.936V13c-.715 0-1.391.167-1.991.464L1 13C1 6.929 5.929 2 12 2c1.139 0 2.238.174 3.272.496a4.739 4.739 0 0 0-.089.593 5.317 5.317 0 0 0 .105 1.532 8.98 8.98 0 0 0-.935-.31l.183.359a19.844 19.844 0 0 1 1.39 3.618l.186.75L11.716 11H9.561c-.044.332-.078.666-.101 1l-2.037.903c.007-.636.048-1.271.122-1.903H3.223zm6.423-6.689A9.035 9.035 0 0 0 3.936 9h3.958c.094-.408.202-.812.324-1.213a20.114 20.114 0 0 1 1.428-3.476zm2.353-.104c-.265.443-.516.894-.746 1.356a17.78 17.78 0 0 0-1.25 3.253L9.953 9h4.093a18.2 18.2 0 0 0-2.047-4.793zm8.334.835a1.376 1.376 0 1 1 .001-2.751 1.376 1.376 0 0 1-.001 2.751z" />
          </svg>
        </a>
      )
    }
  </div>
</div>
